html {
    min-height: 99vh;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    font-size: 3rem;
    margin-top: 2.5rem
}

.start-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3.5rem;
}

.start-button {
    background-color: lightgray;
    border-style: solid;
    border-width: .2rem;
    border-color: black;
    padding: 1rem;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 2rem;
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2.5rem;
}

.game-container {
    min-height: 95vh;
}

.game-board {
    display: grid;
    grid-template-rows: (repeat(3, 10rem));
    grid-template-columns: .5fr repeat(3, 10rem) .5fr;
    margin-top: 3rem;
}

.row-one {
    grid-row: 1/2;
}

.row-two {
    grid-row: 2/3;
}

.row-three {
    grid-row: 3/4;
}


.row {
    display: grid;
    grid-template-columns: .5fr repeat(3, 10rem) .5fr;

    min-height: 3rem;
}

.column-one {
    grid-column: 2/3;
}

.column-two {
    grid-column: 3/4;
}

.column-three {
    grid-column: 4/5;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    min-width: 10rem;
    min-height: 10rem;
    border-style: solid;
    border-width: .2rem;
    border-color: black;
    font-size: 7rem;
    font-weight: bold;
}

#tile-one {
    align-self: flex-end;
}

.tile:hover {
    background-color: lightgray;
}